<% include ../Partial/head.ejs %>

<div class="main-content content container grid-xl center-container">
    <div class="blog-list center-container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="icon icon-arrow-left"></i> На главную</a>
            </li>

            <li class="breadcrumb-item">
                <a>Блог</a>
            </li>
        </ul>
        
        <h1>Блог</h1>

        <div class="blog-text">
            Здесь вы найдете самые полезные советы по производству и употреблению шоколада и новые идеи для отдыха.
            Наши эксперты расскажут как поесть, как выбрать хороший ремесленный шоколад. Приятного вам шокладного наслажденья!
        </div>

        <div class="blog-list-items">
            <div class="blog-list-item">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="http://likechoco.ru/img/gork-99-p1.jpg" alt="OS X El Capitan">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Что такое ремесленный шоколад?</div>
                    </div>
                    <div class="card-body">О ремесленном шаколаде и его полезных свойствах можно
                        узнать в цикле наших статей...
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="blog-list-item">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="http://likechoco.ru/img/gork-99-p1.jpg" alt="OS X El Capitan">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Microsoft</div>
                        <div class="card-subtitle text-gray">Software and hardware</div>
                    </div>
                    <div class="card-body">Empower every person and every organization on the planet to achieve
                        more.
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="blog-list-item">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="http://likechoco.ru/img/gork-99-p1.jpg" alt="OS X El Capitan">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Microsoft</div>
                        <div class="card-subtitle text-gray">Software and hardware</div>
                    </div>
                    <div class="card-body">Empower every person and every organization on the planet to achieve
                        more.
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="blog-list-item">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="http://likechoco.ru/img/gork-99-p1.jpg" alt="OS X El Capitan">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Microsoft</div>
                        <div class="card-subtitle text-gray">Software and hardware</div>
                    </div>
                    <div class="card-body">Empower every person and every organization on the planet to achieve
                        more.
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="blog-list-item">
                <div class="card">
                    <div class="card-image">
                        <img class="img-responsive" src="http://likechoco.ru/img/gork-99-p1.jpg" alt="OS X El Capitan">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Microsoft</div>
                        <div class="card-subtitle text-gray">Software and hardware</div>
                    </div>
                    <div class="card-body">Empower every person and every organization on the planet to achieve
                        more.
                    </div>
                </div>
            </div>
            <!--  -->
        </div>

    </div>
</div>




<% include ../Partial/footer.ejs %>