<% include Partial/head.ejs %>


<div class="main-content content container grid-xl center-container product-page ">
  
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/"><i class="icon icon-arrow-left"></i> На главную</a>
    </li>

    <li class="breadcrumb-item">
      <a>Корзина</a>
    </li>
  </ul>


  <div id='cart_page'></div>

</div>

<% include Partial/footer.ejs %>