<% include Partial/head.ejs %>

<div class="container top-container">
    <div class="top-logo">
        <img src="/img/logo.jpg" />
    </div>
    <h1>Интернет магазин шоколада ручной работы</h1>
    <h2>Мы любим создавать уникальный ремесленный шоколад вам на радость.</h2>
</div>

<% include ./products %>



<% include Partial/footer.ejs %>