<script>
    var phone = '+7 996 342 8027';
    var apiUrl = 'http://localhost:3005';
</script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>