.card_component {

  padding: 0.5rem;
  background: #f3f3f3;
  
  .card_menu {

    .phone-col {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
    }

    .card-col {
      padding-right: 1rem;
    }

    .card-ico,
    .phone-ico {
      width: 1.5rem;
      margin: 0.2rem;
      cursor: pointer;
    }
  }


  .error-msg-footer {
    color: red;
    text-align: left;
  }

  .col-order {
    border-right: 1px solid #ddd;
  }

  .col-card,
  .col-order {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card-caption-1 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  .modal.modal-lg .modal-overlay {
    background: rgba(150, 150, 150, 0.6902);
  }

  .modal-body {
    padding-top: 0;
  }

  .modal-container .modal-header {
    background: #f3f3f3;
  }

  .modal-container {
    padding: 0;
    border-radius: 5px;
  }

  .item-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card-button {
    button {
      width: 9rem;
    }
  }

  .card-counter {
    display: flex;
    align-items: center;
    span {
      padding: 1rem;
    }
    .conter-button {
      cursor: pointer;
      padding: 0.5rem;
      border: 1px solid #ddd;
      border-radius: 50%;
    }
  }

  .delete-button {
    cursor: pointer;
  }

  .modal-title {
    display: flex;
    .card-ico {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }
  }

  .card-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;

    .total-price {
      text-align: left;
      font-size: 1.3rem;
    }
  }

  .card-img {
    width: 2rem;
  }

  .card-list {
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    .column {
      padding-top: 1rem;
    }
  }

}

@media (max-width: 580px) {
  .card_component {
    .cardModal {
      .modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        .phone-caption {
          display: none;
        }

        .phone-input {
          display: none;
        }

        .phone-input-m {
          width: auto;
          padding-right: 1rem;
        }
      }
    }
    .modal-container {
      max-height: 87vh;
    }
  }
}
