// Example of project-name.scss
// Define variables to override default ones
$primary-color: #6d5545;
$primary-color-light: #cebfb4;
$border-light: #e9e4e0;
$dark-color: #493d34;

.center-container {
    width: 900px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .center-container{
        width: auto;
    }
}

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-icons";

@import "./top.scss";
@import "./content.scss";
@import "./product.scss";
@import "./card_component.scss";
@import "./product_page.scss";
@import "./blog.scss";
@import "./header.scss";
@import "./receipt.scss";
@import "./page-common.scss";
@import "./vktpl.scss";

