@import "node_modules/spectre.css/src/spectre";
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.trufels {
    font-family: 'Bad Script', cursive;
    .top-slide{
        width: 100%;
        height: 95vh; 
        background-image: url('../img/top-slide.jpg');
        padding: 40px;
        background-size: cover;
        background-attachment: fixed;
        background-position-y: -279px;

        .action-button {
            margin-top: 30px;
        }

        .center-border {
            width: 100%;
            height: 100%;
            flex-direction: column;
            border: 1px solid #000;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .top-title {
            padding: 20px 70px;
            background: #ffffff52;
            font-size: 50px;
            font-weight: 700;
            color: #000;
            
        }
        .top-phone {
            position: absolute;
            top: 63px;
            font-size: 40px;
            left: 0;
            font-weight: 700;
            width: 100%;
            text-align: right;
            padding-right: 77px;
            color: #000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding-right: 130px;
        }
    }

    .action-button {
        font-size: 25px;
        background: #000;
        color: #fff;
        border-radius: 25px;
        padding: 6px; 
        cursor: pointer;
        text-align: center;

        .border-box {
            padding: 20px 40px;
            border: 1px solid #fff;
            border-radius: 20px;
        }
    }

    .composition-box, .img-box, .left-side-box {
        width: 50%;
        min-height: 100vh;
    }
    .composition-box {
        background: #000;
        color:#fff;
        padding: 20px;

        .composition-item, .composition-content, .composition-title  {
            width: 100%;
        }

        .composition-title {
            font-size: 40px;
            padding-bottom: 20px;
            text-align: center;
            font-weight: 600;
        }

        .composition-item {
            font-size: 20px;
            line-height: 40px;
        }
    }
    .img-box {
        background-image: url('../img/trufel-match-limo1.jpg');
        background-size: cover;
    }
    .img-box.malina{
        background-image: url('../img/trufel/malina.jpg');
    }
    .img-box.izum-rom{
        background-image: url('../img/trufel/izum-rom.jpg');
    }
    .img-box.cofe-belis{
        background-image: url('../img/trufel/cofe-belis.jpg');
    }
    .img-box.mindal{
        background-image: url('../img/trufel/mindal.jpg');
    }
    .img-box.lavanda-k{
        background-image: url('../img/trufel/lavanda-k.jpg');
    }
    .img-box.match-fis{
        background-image: url('../img/trufel/match-fis.jpg');
    }
    .center-slide.fund-va{
        background-image: url('../img/trufel/fund-va.jpg');
        background-position-y: -608px;
    }
    .center-slide.matcha-limon{
        background-image: url('../img/trufel/matcha-limon.jpg');
        background-position-y: -608px;
    }
    .center-slide.vishny-kon{
        background-image: url('../img/trufel/vishny-kon.jpg');
        background-position-y: -778px;
    }
    .composition-border {
        border: 1px solid #fff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
    }
    .left-slide, .right-slide{
        display: flex;
        width: 100%;
        min-height: 80vh;
    }
    .left-slide {
        text-align: right;
    }
    .right-slide {
        text-align: left;
    }
    .center-slide {
        display: flex;
        width: 100%;
        min-height: 100vh;
        text-align: right;
        background-image: url('../img/trufel-match-limo1.jpg');
        background-size: cover;
        .composition-box {
            background-color: #ffffffa6;
            color: #000;
        }
    }
    .composition-mob{
        display: none;
    }

    .order-box {
        padding: 60px;
        background-image: url('../img/trufel/trufel-ine.jpg');
        background-size: cover;
        background-position-y: -13vw;
        .wraper-button {
            width: 200px;
            margin:0 auto;
        }
    }

    .order-form {
        width: 100%;
        height: 100vh;
        display: flex;

        .bg-wight {
            width: 100%;
            height: 100vh;
            background-color: #ffffffa6;
            padding: 20px;
        }

        .border {
            border: 1px solid #000;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .title {
            text-align: center; 
            font-size: 40px;
            font-weight: 600;
            padding-bottom: 40px;
        }

        .left-side {
            width: 50%;
            height: 100vh;
            background-image: url('../img/trufel/truff-nabor.jpg');
            background-size: cover;
        }

        .right-side {
            width: 50%;
            height: 100vh;
            background-image: url('../img/trufel/nabor1.jpg');
            background-size: cover;
        }

        .wraper-form {
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        .input-w {
            margin: 10px;
            border: 1px solid #000;
            padding: 10px;
            font-size: 20px;
        }

        .wraper-button {
            width: 200px;
            margin: 0 auto;
        }
        .order-button {
            font-size: 25px;
            background: #000;
            color: #fff;
            border-radius: 25px;
            padding: 6px;
            cursor: pointer;
            text-align: center;
            .border-box {
                padding: 20px 40px;
                border: 1px solid #fff;
                border-radius: 20px;
            }
        }
    }
}



@media (max-width: 800px) {
    .trufels {
        .top-slide{
            background-attachment: scroll;
        }
        .composition-mob{
            display: block; 
        }
        .top-slide{
            background-position-y: 0;

            .top-phone {
                text-align: center;
                padding-right: 0;
            }

            .top-title {
                font-size: 40px;
                margin-bottom: 30px;
                padding: 20px;
            }
        }
        .composition-box {
            display: none;
        }

        .img-box, .left-side-box  {
            width: 100%;
            display: flex;
            background-attachment: scroll;
        }

        .composition-mob{
            height: max-content;
            width: 100%;
            background-color: #ffffffad;
            color: #000;
            text-align: left;
            padding: 20px;;

            .composition-title{
                font-size: 24px;
                padding-bottom: 20px;
                text-align: center;
                font-weight: bold;
            }
            .composition-content{
                text-align: right;
            }
        }
        .img-box.swipe , .center-slide.swipe {
            background-attachment: scroll;
        }
        .center-slide.fund-va{
            background-position-y: 0px;
        }
    }
}
